
    <form class="find-area" action="/cheer/show/{{this.topic}}" method="GET">
   <label for="">Find Cheers</label>

   <h4>What topic would you like to show</h4>
   <input type="text" name="topic" placeholder="Enter a title">
   
   

   <input type="submit" value="Enter">
</form>