<form class="find-area" action="http://localhost:8080/cheer/{{title}}" method="get">
    <label for="">Find Cheers</label>

    <h4>What topic would you like to show</h4>
    <input type="text" name="title" placeholder="Enter a title">

    <input type="submit" value="Enter">
</form>