<form action="/cheer" method="POST">
    <label for="">Create Cheer</label>

    <h4>Title</h4>
    <input type="text" name="title" placeholder="Title">

    <h4>Choose Topic</h4>
    <select name="topic">
        <option name="topic" value="Motivation">Motivation</option>
        <option name="topic" value="Another Chance">Another Chance</option>
        <option name="topic" value="Love">Love</option>
    </select>



    <h4>Enter your Cheer Quote</h4>
    <textarea name="text" rows="10" cols="30" placeholder="Quote"></textarea>

    <input type="submit" value="Create">
</form>