<div class="container">
    <div class="single-cheer-text-box">

        <div class="cheer-text">

            <p>{{myInstance.text}}</p>
        </div>
        <div class="single-cheer-text-box-img">
            <img class="cheer-img"
                src="../public/img/Canva - Image of Young European Woman 20S with Long Hair Smiling and Sho.png">


        </div>
        <div class="connect">

            <div class="qr-code">
                <img class="qr-code" src="../public/img/frame.png">
            </div>
            
            <div class="buttons" >
<form  action="/cheer/{{myInstance.title}}?_method=delete" method="post">
    <input class="delete-btn" type="submit" value="Delete">
    </form>

    <a class="edit-btn href="/cheer/edit/{{myInstance.title}}"><button>Edit</button></a>
</div>
        </div>
    </div>
</div>

