body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 9px; 
}
.modal-img {
    width: auto;
    height: auto;
    max-width: 146%;
}



.modal-text-box {
    width: 95%;
    height: 184px;
    margin: 100px auto;
    display: block;
    /* background: linear-gradient(#ffad01, #fea200); */
    background: #14FFE3;
    overflow: hidden;
    position: relative;
    max-width: 309px;
    max-height: 184px;
    padding: 14px;
}



.modal-text {
    width: 50%;
    font-size: 10px;
    line-height: 11px;
    margin-top: 0px;
}

.modal-text p{
    
   padding: 0px;
}


.modal-text-box-img {
    width: 61%;
    position: absolute;
    left: 136px;
    top: 35px;
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
}




.modal{
 	background-color: rgba(0,0,0,0.4);
	position:fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
		/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
}



/*************NAV Modal***************/

.nav-modal {
    width: 100%;
    background-color: #14FFE3;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    height: 100%;
    display: none;
    padding-top: 73px;
}

.search, .edit, .more, .home, .login {
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    font-size: 2em;
}




/******NAV**************/


.logo-holder{
    width:50%;
    float: left;
}
.logo-and-nav{
    width: 100%;
}
nav{
    width:45%;
    float: left;
}
ul{
    float: left;
}

li{
    list-style: none;
    float: left;
}

a{
    text-decoration: none;
    color:black;
}
.fa-home,.fa-search,.fa-pen,.fa-sign-in-alt{
    width: 0.8em;
    height: 1em;
    margin-left: 5px;
}
.logo{
    font-family: 'Permanent Marker', cursive;
    /* color: orange; */
    color:black;
    margin-left: 10px;
    margin-top:0;
    margin-bottom:0;
    font-size: 1.5em;


}

.fa-bars{
    width:20px;
    height:20px;
    float:left;
    margin-top:4px;
}
.nav{
    width: 50%;
    float: left;
    margin-top: 17px;
}
.hamburger{
    float: right;
    float:right;
    margin-right: 10px;
}
/******CHEERS********/

.cheer-img {
    width: auto;
    height: auto;
    max-width: 146%;
}



.cheer-text-box {
    width: 80%;
    height: 184px;
    margin: auto;
    display: none;
    /* background: linear-gradient(#ffad01, #fea200); */
    background: #14FFE3;
    overflow: hidden;
    position: relative;
    max-width: 309px;
    max-height: 184px;
    padding: 14px;
    float: left;
    margin-top:50px;
}



.cheer-text {
    width: 50%;
    font-size: 10px;
    line-height: 11px;
    margin-top: 0px;
}

.cheer-text p{
    
   padding: 0px;
}


.cheer-text-box-img {
    width: 61%;
    position: absolute;
    left: 136px;
    top: 35px;
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
}



    .qr-code {
        height: 2em;
        width: 2em;
        position: absolute;
        bottom: 5px;
}



@media(max-width:318px){

    .cheer-img{
        display: none;
    }


}

.cheer h4{
    margin: 0 auto;

}

.cheer p{
    margin-bottom: 5px;

}



/************************/


@media(max-width:318px){

    .modal-img{
        display: none;
    }


}
/**********/

@media(max-width:340px){

    .cheer-text-box-img {
        width: 61%;
        position: absolute;
        left: 81px;
        top: 35px;
        max-width: 184px;
        max-height: 184px;
        min-width: 184px;
        min-height: 184px;
    }


}

@media(min-width:341px) and (max-width:386px){
    .cheer-text-box-img {
        width: 61%;
        position: absolute;
        left: 94px;
        top: 35px;
        max-width: 184px;
        max-height: 184px;
        min-width: 172px;
    }

}



/**********/

.modal h4{
    margin: 0 auto;

}

.modal p{
    margin-bottom: 5px;

}

.modal button{
    margin: 0;
    font-size: 10px;
}





.arrow-holder{
        width: 3%;
        float: left;
        margin: 63px 2px;
        height: 190px;
}

/**************/


.fa-chevron-right,.fa-chevron-left{
    height: 100%;
    width: 100%;
    float: left;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    clear: both;
}

.cheer-text-box:first-of-type {
    display: block;
  }


  .layout-body-container{
      padding: 3px;
  }


  /********/
  .single-cheer-text-box{

    width: 80%;
    height: 184px;
    margin: auto;
    /* background: linear-gradient(#ffad01, #fea200); */
    background: #14FFE3;
    overflow: hidden;
    position: relative;
    max-width: 309px;
    max-height: 184px;
    padding: 14px;
    float: left;
    margin-top:50px;
}
  