body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h2{
  font-size: 10px;
}

/************WELCOME MODAL*********/
.modal-img {
  width: auto;
  height: auto;
  max-width: 146%;
}

.modal p {
  margin-bottom: 0;
  margin-top:0;
}

.modal-text-box {
  width: 95%;
  height: 184px;
  margin: 100px auto;
  display: block;
  background: #14ffe3;
  overflow: hidden;
  position: relative;
  max-width: 309px;
  max-height: 184px;
  padding: 14px;
}

/* .modal-text {
  width: 50%;
  font-size: 10px;
  line-height: 11px;
  margin-top: 0px;
} */


.modal-text {
  width: 50%;
  font-size: 10px;
  line-height: 11px;
  margin-top: -11px;
}


.modal-text p {
  padding: 0px;
}

.modal-text-box-img {
  width: 61%;
  position: absolute;
  left: 136px;
  top: 35px;
  max-width: 184px;
  max-height: 184px;
  min-width: 184px;
  min-height: 184px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modal h4 {
    margin: 0 auto;
  }
  
  .modal p {
    margin-bottom: 5px;
  }
  
  .modal button {
    margin: 0;
    font-size: 10px;
  }
/*************NAV Modal***************/

.start {
    font-family: "Permanent Marker", cursive;
    font-size: 2em;
    margin: auto;
    text-align: center;
    padding: 24px;
  }

.nav-modal {
  width: 100%;
  background-color: #14ffe3;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  height: 100%;
  display: none;
  padding-top: 73px;
}

.search,
.edit,
.more,
.home,
.login {
  width: 100%;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;
  font-size: 2em;
}

/******NAV**************/

.logo-holder {
  width: 50%;
  float: left;
}
.logo-and-nav {
  width: 100%;
}
nav {
  width: 45%;
  float: left;
}
nav ul {
  float: left;
}

li {
  list-style: none;
}
nav li {
  float: left;
}

a {
  text-decoration: none;
  color: black;
}
.fa-home,
.fa-search,
.fa-pen,
.fa-sign-in-alt {
  width: 0.8em;
  height: 1em;
  margin-left: 5px;
}
.logo {
  font-family: "Permanent Marker", cursive;
  color: black;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.fa-bars {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 4px;
}
.nav {
  width: 50%;
  float: left;
  margin-top: 17px;
}
.hamburger {
  float: right;
  float: right;
  margin-right: 10px;
}

/******SOCIAL MEDIA*******/

.social-media {
  background-color: #14ffe3;
  display: flex;

  display: none;
  width: 30%;
  height: auto;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 8%;
  left: 35%;
  justify-content: space-around;
}

.social-media ul {
  padding-left: 0;
}

.social-media li {
  list-style: none;
  line-height: 2em;
  clear: both;
}

.close {
  width: 10%;
  height: 10%;
  float: right;
  margin: 5px;
}
/******CHEERS********/

.cheer-img {
  width: auto;
  height: auto;
  max-width: 146%;
}

.cheer-text-box {
  width: 80%;
  height: 184px;
  margin: auto;
  display: none;
  background: #14ffe3;
  overflow: hidden;
  position: relative;
  max-width: 309px;
  max-height: 184px;
  padding: 14px;
  float: left;
  margin-top: 50px;
}

.cheer-text {
  width: 50%;
  font-size: 10px;
  line-height: 11px;
  margin-top: 0px;
}

.cheer-text p {
  padding: 0px;
}

.cheer-text-box-img {
  width: 61%;
  position: absolute;
  left: 136px;
  top: 35px;
  max-width: 184px;
  max-height: 184px;
  min-width: 184px;
  min-height: 184px;
}

.qr-code {
  height: 2em;
  width: 2em;
  float: left;
  display: block;
  margin-left: 10px;
}

.fa-share-square {
  height: 2em;
  width: 2em;
  float: right;
  display: block;
  margin-left: 10px;
}

.connect {
  position: absolute;
  overflow: auto;
  width: 100%;
  bottom: 11px;
}

/**********/



.arrow-holder {
  width: 3%;
  float: left;
  margin: 63px 2px;
  height: 190px;
}

/**************/

.fa-chevron-right,
.fa-chevron-left {
  height: 100%;
  width: 100%;
  float: left;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  clear: both;
}

.cheer-text-box:first-of-type {
  display: block;
}

.layout-body-container {
  padding: 3px;
}

/********/
.single-cheer-text-box {
  width: 80%;
  height: 184px;
  margin: auto;
  background: #14ffe3;
  overflow: hidden;
  position: relative;
  max-width: 309px;
  max-height: 184px;
  padding: 14px;
  float: left;
  margin-top: 50px;
}

.cheer h4 {
  margin: 0 auto;
}
.cheer p {
  margin-bottom: 5px;
}

/***********CREATE CHEER PAGE*************/

.create-area,
.find-area,
.edit-area,
.login-area {
  padding: 30px;
  width: 80%;
  margin: 100px auto;
  display: block;
  background: #14ffe3;
  overflow: hidden;
  position: relative;
  padding: 14px;
}

.more-btn,
.edit-btn,
.delete-btn {
  height: 25px;
  float: left;
  display: block;
  margin-left: 10px;
}

.buttons {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

/****************MEDIA QUERIES*****************/
@media (max-width: 318px) {
    .cheer-img {
      display: none;
      bottom: 5px;
    }
  }
  
@media (max-width: 318px) {
  .modal-img {
    display: none;
  }
}

@media (max-width: 340px) {
  .cheer-text-box-img {
    width: 61%;
    position: absolute;
    left: 81px;
    top: 35px;
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
  }
}

@media (min-width: 341px) and (max-width: 386px) {
  .cheer-text-box-img {
    width: 61%;
    position: absolute;
    left: 94px;
    top: 35px;
    max-width: 184px;
    max-height: 184px;
    min-width: 172px;
  }
}

@media (min-width: 379px) {
  .logo {
    font-size: 2em;
  }

  .single-cheer-text-box-img {
    width: 61%;
    position: absolute;
    left: 119px;
    top: 35px;
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
  }
}
@media (max-width: 379px) {
  .single-cheer-text-box-img {
    width: 61%;
    position: absolute;
    left: 73px;
    top: 35px;
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
  }
}

@media (min-width: 700px) {
  .modal-text-box-img {
    width: 61%;
    position: absolute;
    left: 67%;
    top: 61%;
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }

  .modal-text p {
    padding: 0px;
    font-size: 1vw;
    line-height: 1.2em;
}

  .single-cheer-text-box-img {
    width: 61%;
    position: absolute;
    left: 67%;
    top: 61%;
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }

  .modal-text-box {
    resize: both;
    height: 192px;
    width: 95%;
    margin: 100px auto;
    display: block;
    background: #14ffe3;
    overflow: hidden;
    position: relative;
    max-width: 50%;
    max-height: 500px;
    padding: 14px;
  }

  .single-cheer-text-box {
    resize: both;
    height: 192px;
    width: 95%;
    margin: 100px auto;
    display: block;
    background: #14ffe3;
    overflow: hidden;
    position: relative;
    max-width: 50%;
    max-height: 500px;
    padding: 14px;
  }
}
@media (min-width: 776px) {
  .single-cheer-text-box p {
    font-size: 2em;
    line-height: 1;
    margin: 47px auto;
  }
  .single-cheer-text-box h4 {
    font-size: 2em;
    margin: 10px auto;
  }

  .modal h4{
    margin: 5px 0;
    font-size:1em;
    line-height: 16px;
    margin-top:0px;

  }
}

@media(min-width:1450px){

  .modal-text {
    width: 57%;
    font-size: 10px;
    line-height: 11px;
    margin-top: -11px;
}

  .modal-text-box {
      resize: both;
      height: 232px;
      width: 100%;
      margin: 100px auto;
      display: block;
      background: #14ffe3;
      overflow: hidden;
      position: relative;
      max-width: 50%;
      max-height: 532px;
      /* padding: 14px; */
  }

  .modal-text-box-img {
    width: 61%;
    position: absolute;
    left: 67%;
    top: 68%;
    max-width: 184px;
    max-height: 184px;
    min-width: 184px;
    min-height: 184px;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.modal p {
  margin-bottom: 5px;
  margin-top: 5px;
}



}
